.header-wrap {
    min-height: 120px;
    background-image: linear-gradient(#f53d2d, #ff6633);
}

.header { 
    font-size: 1.3rem;
    line-height: 4rem;
    color: #fff;
}

.header .header-nav {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    display:  flex;
}

.header .header-nav__list { 
    display: flex;
}

.header a {
    text-decoration: none;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.header .header-nav__item {
    margin-right: 8px;
} 
.header-nav__item.reset-hover > a:hover,
.header .header-nav__item:hover { 
    opacity: 0.8;
    cursor: pointer;
} 

.reset-hover:hover {
    cursor: default !important;
    opacity: 1 !important;
}

.header .header-nav__item.language-option {
    padding: 0 16px;
}

.header .pipe::after {
    content: ""; 
    height: 4px; 
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 8px; 
}

.header .header-nav__item .icon-bell,
.header .header-nav__item .icon-help  {
    font-size: 1.6rem;
}

.header .qr-app { 
    width: 188px;
    border: 2px solid #fff;
    border-radius: 2px;
    position: absolute;
    left: -6px;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn ease-in .2s;
    z-index: 1;
}

.header .header-nav__item:hover .qr-app {
    display: block;
}

.header .qr-app__list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 2rem;
    margin-left: 4px;
    margin-bottom: 6px;
}

.header .qr-app__item {
    margin-left: 2px;
    margin-bottom: 2px;
}

.header .qr-app__item a {
    color: #000;
    display: block;
    font-size: 1.3rem;
}
.header .qr-app__image {
    width: 100%;
    display: block;
}

.header .nav-item__dowload {
    position: relative;
}

.header .qr-app__icon { 
    font-size: 1.6rem;
}

.header-nav__item--notify {
    position: relative;
}

.header .header-nav__link {
    display: inline-block;
}

.header-nav__item--notify:hover .header-notify{
    display: block;
}

.header-notify {
    --grow-from: 0; 
    --grow-to: 1; 
    background-color: #fff;
    position: absolute;
    top: 100%; 
    left: -360px;
    border: solid 1px #ddd;
    border-radius: 2px;
    z-index: 1;
    display: none;
    transform-origin: calc(100% - 34px) -10px;
    animation: growth ease-in .25s;
    will-change: opacity, trasnform;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.1);
}

.header-notify::before {
    content: ""; 
    width: 0;
    height: 0;
    display: block;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
    border-bottom: solid 24px #fafafa;
    border-top: solid 24px transparent;
    position: absolute; 
    left: 384px;
    top: -37px;
}

.header-notify,
.header-notify a { 
    color: #000;
    line-height: 1.6rem;
}

.header-notify__header {
    padding: 16px 12px;
    font-size: 1.6rem;
    color: #666;
    background-color: rgba(0, 0, 0, 0.02);
}

.header-notify__item {
    background-color: #FFF2EE;
}

.header-notify a:hover {
    background-color: #F8F8F8;
}

.header-notify__item--read {
    background-color: #fff !important;
}

.header-notify__link {
    padding: 8px 12px;
    display: flex;
    align-items: flex-start;
}

.header-notify__image {
    width: 68px;
    margin: 6px 8px 0 0;
    object-fit: contain;
    border: solid 2px #ededed;
}

.header-notify__title {
    padding: 6px 0;
    font-weight: 400; 
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #000; 
}
.header-notify__desc {
    color: #666;
    font-size: 1.2rem;
}

.header-notify__footer {
    background-color: rgba(0, 0, 0, 0.01);
}   

.header-notify__footer .link-footer { 
    font-size: 1.6rem;
    display: block;
    padding: 14px;
    text-align: center;
    color: #000 !important; 
}

.header-nav__item.language-option {
    position: relative;
}

.header-nav__item.language-option:hover .header-nav__language-option{
    display: block;
}

.header-nav__language-option {
    --grow-from: 0; 
    --grow-to: 1; 
    position: absolute;
    background-color: #fff;
    color: #000; 
    right: 8px;
    width: 168px;
    line-height: 3.7rem;
    padding-left: 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    animation: growth ease-in .2s;
    display: none;
    transform-origin: 150px -10px;
    z-index: 1;
    font-size: 1.4rem;
}

.header-nav__language-option::before {
    position: absolute; 
    content: ""; 
    width: 0;
    height: 0;
    display: block;
    border-left: solid 24px transparent;
    border-right: solid 24px transparent;
    border-bottom: solid 24px #fff;
    border-top: solid 24px transparent;
    right: 26px; 
    top: calc(100% - 108px);
}

.header-nav__language-option .language-item:hover {
    color: #f53d2d;
    cursor: pointer;
}

.header-nav__item-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-nav__item-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 6px
}

.header-nav__item-user:hover .header-nav__item-user-name{
    cursor: pointer; 
    opacity: 0.8;
}

.header-nav__item-user:hover .header-nav__item-menu {
    display: block;
}

.header-nav__item-menu {
    position: absolute;
    list-style: none;
    background-color: #fff;
    z-index: 1;
    top: 100%; 
    right: 0; 
    width: 150px;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: none;
    animation: growth ease-in .25s;
    --grow-from: 0;
    --grow-to: 1;
    transform-origin: calc(100% - 48px) -12px;
}

.header-nav__item-menu::before { 
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
    border-top: solid 16px transparent;
    border-bottom: solid 12px #fff;
    position: absolute;
    right: 32px;
    top: -26px; 
    cursor: pointer;
}

.header-nav__item-menu-item:first-child a{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header-nav__item-social a{
    padding: 0 2px
}

.header-nav__item-menu-item {
}

.header-nav__item-menu-item a {
    color: #000; 
    padding: 0 12px; 
    display: block;
    font-size: 1.4rem;
}

.header-nav__item-menu-item a:hover {
    color: var(--primary-color);
    background-color: #f3f3f3;
}

.auth-form__header { 
    display: flex; 
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 28px 44px;
    margin-top: 12px;
}

.auth-form__header div { 
    padding: 0 8px;
    font-size: 2.5rem;
}

.auth-form__header div:hover { 
    cursor: pointer;
    opacity: 0.8;
}


.auth-form__login { 
    color: var(--primary-color)
}

.auth-form__body { 
    padding: 16px 32px;
}


.auth-form__item-input { 
    width: 100%; 
    padding: 8px 8px;
}

.auth-form__item-input .item-input {
    width: 100%;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 2px;
    padding-left: 8px;
    font-size: 1.6rem;
    outline: none;
}

.auth-form__text { 
    text-align: center;
    font-size: 1.6rem;
    padding-top: 32px;
}

.auth-form__text a { 
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__text a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.auth-form__group-btns { 
    display: flex;
    justify-content: flex-end;
    margin-top: 110px;
    padding-bottom: 16px;
}


.auth-form__group-btns .btn {
    margin: 0 8px;
}
.auth-form__group-btns .btn:first-child:hover { 
    opacity: 0.8;
    background-color: #f9f9f9;
}




.auth-form__footer { 
    background-color: #F3F3F3;
    height: 80px;
}

.auth-form__socials {
    height: 100%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.auth-form__btn { 
    text-decoration: none;
    border-radius: 4px; 
    line-height: 40px;
    padding: 0 10px;
}

.auth-form__btn:hover { 
    opacity: 0.8;
}

.auth-form__socials span {
    padding: 0 32px;
    display: inline-block;
}
.auth-form__btn:first-child { 
    background-color: #33508D;
    color: #fff;
}
.auth-form__btn:last-child { 
    background-color: #fff; 
    color: #666;
}

.auth-form__btn i { 
    font-size: 2.2rem;
    display: inline-block;
    line-height: 40px;
}

.auth-form__help {
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-end;
    padding-right: 8px;
    margin: 16px 0;
}

.auth-form__help-link { 
    text-decoration: none;
    color: #666; 
}

.auth-form__help-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.auth-form__help-link.pipe::after { 
    content: ""; 
    height: 4px; 
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    margin:0 16px; 
}

.auth-form__help-link:first-child { 
    color: var(--primary-color); 
}


.header-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 14px;
}

.header__logo{
    width: 148px;
}

.header__logo-icon{
    fill: #fff; 
}

.header__search{
    display: flex;
    background-color: #fff;
    border-radius: 2px;
    width: 840px;
    height: 42px;
    align-items: center;
    justify-content: space-between;
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input{
    width: 100%;
    padding-left: 12px;
    height: 36px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    color: #333; 
    background-color: transparent;
}

.header__search-button-wrap{
    padding: 0 4px;
    display: flex;
    align-items: center;
}
.header__search-button{
    padding: 9px 24px; 
}
.header__search-icon{
    font-size: 1.6rem;
}
.header__cart{
    width: 90px;
    align-self: center;
    position: relative;
}

.header__cart:hover .header__cart-list {
    display: block;
}

.header__cart-link {
    color: #fff; 
}

.header__cart-list {
    --grow-from: 0;
    --grow-to: 1;
    position: absolute;
    background-color: #fff; 
    border-radius: 4px;
    top : calc(100% + 4px);
    right: 48px; 
    width: 460px;
    box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.2);
    color: #000; 
    font-size: 1.6rem;
    animation: growth ease-in .25s;
    transform-origin: calc(100% + -26px) -16px;
    min-height: 20px;
    display: none;
    z-index: 1;
}

.header__cart-list::before{
    content: ""; 
    width: 0;
    height: 0;
    display: block;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
    border-top: solid 0px transparent;
    border-bottom: solid 16px #fff;
    position: absolute;
    cursor: pointer;
    right: 11px;
    top: -14px;
}


.header__cart-item--empty  {
    flex-direction: column;
    align-items: center;
    display: none;
}

.header__cart-list--empty .header__cart-item--empty {
    display: flex; 
}

.header__cart-item--empty  img { 
    display: block;
    padding: 16px 0;
}

.header__cart-item--empty  p {
    padding: 16px 0; 
}

.header__cart-icon{
    position: relative;
    font-size: 2.4rem;
}

.header__cart .header__cart-number {
    position: absolute; 
    background-color: #fff;
    color: var(--primary-color); 
    border: 2px solid #ee4d2d;
    line-height: 10px;
    text-align: center;
    border-radius: 16px;
    padding: 4px 7px;
    top: -8px;
    left: 16px;
}

.header__cart-header {
    font-weight: 400;
    color: #999; 
    background: #fff; 
    padding: 4px 12px; 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__cart-list-item {
    
}
.header__cart-item {
    display: flex;
    padding:4px 12px;
} 

.header__cart-item:hover {
    background-color: #F7F7F7;
}

.header__cart-item-img {
    display: block;
    width: 60px;
    align-self: center;
    border: solid 2px #ededed;
}
.header__cart-item-content {
    padding-left: 12px; 
    flex:1; 
}

.header__cart-item-header {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-name {
    font-weight: 500; 
    font-size: 1.6rem;
}
.header__cart-item-price {
    color: var(--primary-color); 
}

.header__cart-item .mutiply-signal {
    font-size: 1.2rem;
    color: #999; 
}

.header__cart-item-quantity {
    font-size: 1.4rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-classify {
    color: #999; 
    font-size: 1.4rem;
}

.header__cart-item-remove {
    
}

.header__cart-item-remove:hover { 
    color: var(--primary-color); 
    cursor: pointer;
}

.header__cart-footer {
    padding: 12px;
    display: flex; 
    justify-content: flex-end;
    background-color: #fdfdfd;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__cart-view-cart {
    line-height: 16px;
}

.header__search-select{
    border-left: 1px solid rgba(0, 0, 0, 0.1);         
    padding-left: 16px;              
    height: 60%;                
    display: flex;
    align-items: center;
    color: #333;         
    position: relative;      
    font-size: 1.4rem;    
}

.header__search-select:hover {
    cursor: pointer;
}

.header__search-select-icon{
    padding: 0 8px 0 16px;
    color: #484848; 
}

.header__search-option {
    position: absolute;
    right: -4px; 
    top: calc(100% + 13px);
    width: 160px;
    background-color: #fff;
    border-radius: 2px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 1;
}


.header__search-option::before {
    content : ""; 
    position: absolute;
    display: block; 
    background-color: transparent; 
    top: -16px; 
    left: 0; 
    right: 0;
    height: 20px;
}

.header__search-option-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.header__search-option-item:hover { 
    background-color: rgba(0, 0, 0, 0.03);
}

.header__search-option-item span { 
    padding: 0 20px;
}

.header__search-option-item i {
    padding-right: 10px; 
    color: var(--primary-color);
    display: none;
}

.header__search-option-item--active i {
    display: inline-block !important;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-history {
    position: absolute; 
    background-color: #fff;
    top: calc(100% + 6px);
    left: 0; 
    right: 16px; 
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    line-height: 3.6rem;
    display: none;
    z-index: 1;
}

.header__search-history-header {
    padding-left: 10px; 
    font-weight: 400;
    color: #999;
    font-size: 1.4rem;
}

.header__search-history-list {
    list-style: none;
}

.header__search-history-item a {
    color: #333;
    padding-left: 10px; 
    display: block;
}

.header__search-history-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.header__search-input:focus ~ .header__search-history{ 
    display: block;
}

.container-wrap {
    background-color: #f5f5f5;
    padding: 32px 0; 
}

.category {
    padding: 14px;
    background-color: #fff;
    border-radius: 2px;
}

.category__header {
    padding: 6px 0 20px; 
    font-size: 1.8rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.category__list {
    list-style: none;
}

.category__list-icon {
    padding-right: 10px
}


.category__item--active .category__item-link {
    color: var(--primary-color);
}

.category__item--active .category__item-link::before {
    content: "";
    display: block;
    border: 4px solid; 
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
}

.category__item-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #000; 
    padding: 8px 0 8px 16px;
    left: 0; 
    transition: left linear .1s;
    font-size: 1.4rem;
}

.category__item-link:hover {
    color: var(--primary-color); 
    left: 4px; 
}


.home-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    border-radius: 2px;
    padding: 8px 16px; 
    font-size: 1.4rem;
}


.home-filter__left {
    display: flex;
    align-items: center;
}   

.home-filter__left > * {
    /* padding : 4px;  */
    margin: 6px;
}


.home-filter__btn {
    padding: 10px 18px;
}

.home-filter__select-sort {
    position: relative;
    cursor: pointer;
}

.home-filter__select-sort-label {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 12px;
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.home-filter__label ,
.home-filter__select-sort-icon {
    color: #555; 
}

.home-filter__select-sort:hover .home-filter__select-sort-list{
    display: block;
    
}

.home-filter__select-sort-list {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    border-radius: 2px;
    width: 200px;
    top: calc(100% + 4px); 
    animation: fadeIn ease-in .2s;
}

.home-filter__select-sort-list::before {
    content: ""; 
    display: block; 
    background-color: transparent; 
    width: 200px;
    height: 20px;
    position: absolute;
    top: -10px; 
}

.home-filter__select-sort-item {
    padding: 12px;
}

.home-filter__select-sort-item:hover {
    color: var(--primary-color)
}

.home-filter__right {

}

.home-filter__pagining {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-filter__pagining > * {
    margin: 6px;
}

.home-filter__page-num {

}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    margin-left: 10px;
    display: flex;
}

.home-filter__page-btn {
    color: #555; 
    text-decoration: none;
    background-color: #ededed;
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #d4d4d4;
    justify-content: center;
    align-items: center;
}

.home-filter__page-btn--disabled {
    color: #ccc; 
    background-color: #fff;
    border: 1px solid #e3e3e3;
    cursor: default;
}

.home-filter__page-btn:hover {
    background-color: #fff;
    border: 1px solid #e3e3e3;
}

.home-filter__page-icon {
    
}









